 {% extends 'AppBundle::layout.html.twig' %}
 
 {% block title %}{{ post.titulo }}{% endblock %}
 
 {% block body %}
   <article class="blog">
       <header>
           
           <div class="date"><time>{{ post.fechaCreacion | date('d/m/Y') }}</time></div>
           
       </header>
     <img src="{{ asset('imagenes/' ~ post.imagen) }}" alt="{{ post.titulo }}" class="large" />
     <div>
         <p>{{ post.cuerpo }}</p>
     </div>
   </article>
     <section class="comments" id="comments">
         <section class="previous-comments">
             <h3>Comentarios: </h3>
             {% include 'AppBundle:Blog:includes/showComments.html.twig' with { comentarios:comentarios } %}
         </section>
     </section>
         {% for flashMessage in app.session.flashbag.get('exito') %}
        <div class="flash-notice">
        <div class="blogger-notice">
            
            {{ flashMessage }}
            
        </div>
        </div>
    {% endfor %}  
     {% render(controller( 'AppBundle:Blog:comentario' , { id:post.id })) %}
 {% endblock %}
